.section-tools {
  padding: 9.6rem 0;
  display: block;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.tools-grid {
  display: grid;
  flex-direction: column;
  margin: 2.4rem auto;
  gap: 2.4rem;
  padding: 0 1rem;
  /* align-items: center; */
  /* justify-content: center; */
}

.tool {
  /* width: 50px; */
  /* height: 50px; */
  /* background: wheat; */
  align-self: center;
}

@media (max-width: 34em) {
  .grid--6-cols {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
